{% extends 'base.html' %}
{% load static %}

{% block title %}Main - Menu{% endblock %}


{% block body %}
<div class="box">
  <div>
    <h1 style="text-align: center; padding-bottom: 5%">Welcome {{ user.person_name|capfirst }}!</h1>
  </div>

  <div class="row gx-5" style="text-align:center;">
    <div class="col-6 ">
      <form action="operations" method="post">
        {% csrf_token %}
        <input type="text" hidden name="op" value="1">
        <button class="form-controll">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#efefef" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
              <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/></svg>
              WithDrawl
        </button>
      </form>
    </div>

    <div class="col-6">
      <form action="operations" method="post">
        {% csrf_token %}
        <input type="text" hidden name="op" value="2">
        <button class="form-controll">
              Deposite
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#efefef" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
              <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/></svg>
        </button>
      </form>
    </div>

    <div class="col-12">
      <br>
      <form action="operations" method="post">
        {% csrf_token %}
        <input type="text" hidden name="op" value="3">
        <input class="form-control" style="display: inline-block; width: 50%; border-radius: 30px; margin-top: 1%;" type="submit" value="Account balance">
      </form>
    </div>
  </div>
</div>
{% endblock %}