{% extends 'base.html' %}
{% load static %}

{% block title %}Success{% endblock %}


{% block body %}
    <div class="container" style="text-align: center;">
        <div class="box">
            <form action="/ATM/details/" method="post">
                {% csrf_token %}
                {% if   output  == 1 %}
                    <h2>Invalid Cash!, Please enter less amount.</h2>
                {% elif output == 2 %}
                    <h2>Cash Unavailable! </h2>
                {% else %}
                    <style type="text/css">body{margin-top: 5%;}</style>
                    <h2 style="text-decoration: underline;">Sucessfull Operation!</h2>
                    <br>
                    <h2>
                        Withdrawn: {{ cash }} L.E
                        <br><br>200 bills: {{ twoh }}
                        <br>100 bills: {{ oneh }}
                        <br> 50 &nbsp&nbspbills: {{ fifty }}
                        <br> 20 &nbsp&nbspbills: {{ twenty }}
                        <br> 10 &nbsp&nbspbills: {{ ten }}
                        <br>
                        <br> Availble cash : {{ user.cash }} L.E
                    </h2>
                {% endif %}
                    <input type="submit" value="continue" style="width: 30%;">
            </form>
        </div>
    </div>
{% endblock %}