{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<style type="text/css">
  a{
    color: #efefef;
  }
  a.visited{
    color: #efefef;
  }
</style>
<div class="container">
  <div class="box" style="text-align: center;">
    {% if user.is_authenticated %}
      <h2><a href="{% url 'login' %}">Proceed</a></h2>
      <h2><a href="{% url 'logout' %}">LogOut</a></h2>
    {% else %}
      <h1>You are not loggedIn!</h1>
      <h2><a href="{% url 'login' %}">LogIn</a></h2>
    {% endif %}
  </div>
</div>
{% endblock %}
